body {
    background:#87CEEB;
}

header {
    background-color: #a9d27f;
    color:#083649;
    font-family:'Silkscreen','sans-serif';
    text-align: center;
    border-bottom: 5px solid rgb(204, 61, 61)
}

header h1 {
    font-size: 70px;
}

.container {
    padding: 1rem;
    background-color:hsl(9, 82%, 47%);
    border: 2px solid #F4D35E;
    border-radius: 10px;
    margin-right:100px;
    margin-left:100px;
}

.slider-wrapper {
    position:relative;
    max-width:35rem;
    margin:0 auto;

}

.slider{
    display:flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}




.slide {
    flex: 0 0 100%;
    scroll-snap-align: start;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.caption {
    margin-top: 10px;
    font-family: 'Silkscreen', sans-serif;
    font-size: 1.2rem;
    color: #2b2b2b;
    background-color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    padding: 8px 16px;
    border-radius: 8px;
}


.slider nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left:50%;
    transform: translateX(-50%);
    z-index:1;
}


.slider-nav a:hover {
    opacity: 1;
}

.accordion {
    margin: 60px auto;
    width: 600px;
}
.accordion_radio {
    display:none;
}

li {
    background-color:#FFE66D;
    border: 3px solid #F39C12;
    border-radius: 8px;
    margin-top:10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    list-style: none;
    width:100%;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7)

}

.accordion_label {
    display:flex;
    padding: 10px 20px;
    margin-top:10px;
    margin-bottom:10px;
    font-size: 20px;
    cursor:pointer;
    color: #E74C3C;
    font-family: 'Silkscreen', 'sans-serif';
    font-weight:500;
    align-items: center;
}

.accordion_content {
    color:#2B2B2B;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    font-size: 20px;;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion_label::before {
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

.accordion_radio:checked+.accordion_label+.accordion_content {
    max-height: 300px;
    padding: 10px 10px 20px;

}

.accordion_radio:checked+.accordion_label::before {
    content: '-';
}